services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: url_shortener_db
      POSTGRES_USER: urls_user
      POSTGRES_PASSWORD: urls_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U urls_user -d url_shortener_db" ]
      interval: 10s
      timeout: 5s
      retries: 5
  adminer:  # http://localhost:8080/
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db

volumes:
  pgdata: